# app related (make changes here)
APP_NAME = App                                      # change to your app name
APP_MODE = dev                                      # dev or production

# directories (changes NOT suggested)
PHOOLE_APP_ROOT   = app                             # app root
PHOOLE_APP_DIR    = ${PHOOLE_APP_ROOT}/${APP_NAME}  # THIS APP directory
PHOOLE_APP_CONF   = ${PHOOLE_APP_ROOT}/conf         # config directory
PHOOLE_FRAMEWORK  = framework                       # framework directory
PHOOLE_LOCAL_DIR  = local                           # local directory
PHOOLE_SHARED_DIR = shared                          # shared directory
PHOOLE_DOC_ROOT   = ${PHOOLE_SHARED_DIR}/public     # public/www directory

# db (changes are suggested)
DB_PASSWORD = your_db_password                      # password used in 'dev' mode

# redis (changes are suggested)
REDIS_AUTH = (null)